*{
    text-align: center;
    font-family: "Times New Roman", sans-serif,serif,cursive;
    color: #E9F2FA;
    background-color: #012E57;
}

img{
    width: 300px;
    height:300px;
}

a {
    text-decoration: none;
}
a:hover{
    color: #CDF2FA;
}
input:hover{
    cursor: pointer;
}