*{
    box-sizing: border-box;
    text-align: center;
    font-family: "Times New Roman", sans-serif,serif,cursive;
    color: #E9F2FA;
    background-color: #012E57;
    margin: 1%;
}

nav{
    width:100%;
    text-align: left;
    background-color: #020F23;
}

nav a{
    background-color: #020F23;
}

img{
    width: 100px;
    height: 100px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
a:hover{
    color: #CDF2FA;
}


input{
    border: solid 1px;
    border-radius: 3px;
}

input[type=submit]:hover{
    cursor: pointer;
}